.gallery {
    font-family: 'Roboto', sans-serif;
    padding: 15px 40px 0 45px;
}

.gallery__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E2E8F0;
    padding: 15px 0;
    margin-bottom: 30px;
}

.gallery__header {
    font-size: 16px;
    font-weight: 700;
    color: #2C5282;
}

.gallery__header_button {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFCFE;
    background: #2A4365;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
}

.gallery__header_button svg {
    fill: #FFFCFE;
    margin-right: 10px;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    
}

.gallery__item {
    position: relative;
    list-style-type: none;
    max-height: 100%;
}

.gallery__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image__buttons {
    width: 0;
    height: 0;
    opacity: 0;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.gallery__image:hover ~ .image__buttons,
.gallery__image:focus ~ .image__buttons,
.image__buttons:hover,
.image__buttons:focus {
    width: auto;
    height: auto;
    opacity: 1;
    transition: 0.5s;
}

.image__button {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.image__button svg {
    display: block;
    fill: white;
}