.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    background: #2D3748;
    padding: 30px 40px 30px 70px;
}

.navbar__logo {
    font-size: 20px;
    font-weight: 400;
}

.navbar__button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    background: inherit;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}