.masters {
    font-family: 'Roboto', sans-serif;
    padding: 15px 40px 0 45px;
}

.masters__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E2E8F0;
    padding: 15px 0;
    margin-bottom: 30px;
}

.masters__header {
    font-size: 16px;
    font-weight: 700;
    color: #2C5282;
}

.masters__header_button {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #FFFCFE;
    background: #2A4365;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    cursor: pointer;
}

.masters__header_button svg {
    fill: #FFFCFE;
    margin-right: 10px;
}

.masters__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.masters__item {
    display: grid;
    grid-template-columns: minmax(200px, auto) auto minmax(200px, auto) auto;
    align-items: center;
    gap: 100px;
    background: #F7FAFC;
    border-radius: 5px;
    padding: 30px 50px 30px 30px;
}

.masters__name {
    font-size: 18px;
    font-weight: 700;
    color: #2A4365;
    margin-bottom: 4px;
}

.masters__quality {
    font-size: 14px;
    font-weight: 400;
    color: #A0AEC0;
}

.masters__status_active,
.masters__status_disable {
    width: 120px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50px;
}

.masters__status_active {
    color: #9AE6B4;
    border: 2px solid #9AE6B4;
}

.masters__status_disable {
    color: #FC8181;
    border: 2px solid #FC8181;
}

.masters__item_button {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.masters__button_edit,
.masters__button_delete {
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.masters__button_edit {
    background: #2A4365;
}

.masters__button_delete {
    background: #FC8181;
}

.masters__button_edit svg,
.masters__button_delete svg {
    fill: #ffffff;
}


@media screen and (max-width: 1400px) {
    
    .masters__item {
        gap: 50px;
    }
}